<?php
const ENVIRONMENT_MODE = 'production';
const DEBUG_DEFAULT    = false;

// can use array as const in php5.6 or upper
const BASIC_AUTH_USER  = 'api';
const BASIC_AUTH_PASS  = 'api012';

/*
 * Database
 */
const DB_HOST       = '0.0.0.0';
const DB_NAME       = 'api';
const DB_USER       = 'api';
const DB_PASS       = 'api012';
const DB_PORT       = '3306';
const DB_CHARSET    = 'utf8';

/*
 * Mailer
 */
const MAIL_HOST     = '127.0.0.1';
const MAIL_PORT     = '1025';
const MAIL_USER     = null;
const MAIL_PASS     = null;

const MAIL_FROM     = 'info@example.com';
const MAIL_NAME     = 'System Notification';
const MAIL_ADDR     = 'admin@example.com';
