.DS_Store
bower.json.tmp
bower.json-e
package.json-e
npm-debug.log
.sass-cache
composer.phar
composer.lock
memory

node_modules
vendor
cache
logs
reports

js/*
dist/*
css/*
docs/*

spec/js/*
spec/dist/*

/.htaccess
config/production.php
config/development.php
config/localhost.php

!.gitkeep
!.htaccess.sample
